name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Check version matches tag
        run: |
          # Dodalem tr -d '\r', zeby usunac windowsowe znaki konca linii
          PYPROJECT_VERSION=$(grep '^version' pyproject.toml | sed 's/version = //' | tr -d '" \r')
          TAG_VERSION=${GITHUB_REF#refs/tags/v}
          echo "Version in pyproject.toml: '$PYPROJECT_VERSION'"
          echo "Version from tag: '$TAG_VERSION'"
          if [ "$PYPROJECT_VERSION" != "$TAG_VERSION" ]; then
            echo "❌ Version mismatch! Tag is v$TAG_VERSION, but pyproject.toml has $PYPROJECT_VERSION"
            exit 1
          else
            echo "✅ Version matches."
          fi

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build ruff pytest


      - name: Build the package
        run: python -m build

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
          files: dist/*
          generate_release_notes: true
